.pseudoBody
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    width: 100%;
    overflow: hidden;
}

.profilesPlate
{
    background-color: rgb(182, 182, 182);
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profileCardBody
{
    background-color:cyan;
    width: 100px; 
    height:120px; 
    margin: 10px; 
    
    
    
}
.profileCardBody:hover
{
    outline: 1px solid rgb(0, 255, 187);
    
}

.genericForm
{
    display: flex;
    flex-direction: column;
    height: 100%;


}

.genericForm > *
{
    margin-top: 20px;

}

.genericForm input[type="submit"]
{
    width: 70px;
    margin-right: 15px;
}

.choiceWindow
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly
    
}

.choiceWindow > button
{
    margin: 20px;
    width: max-content;
}